header {
  padding: 16px 0px;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.normal_list {
  display: flex;
  gap: 20px;
  color: #00000075;
}
.shop:hover .dropdown{
  display: flex;
}
.lists {
  transition: 200ms;
}
.lists:hover {
  color: black;
  cursor: pointer;
}
.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px 0px;
  width: 10%;
  border-radius: 0.6rem;
}
.dropdown li{
padding: 5px 10px;
}
hr{
  margin: 10px 0px;
}
.dropdown li:hover{
background-color: gray;
}
.cart {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container a {
  color: black;
  font-size: 20px;
}
